@font-face{
    font-family: 'ninobold';
    src: url("../fonts/bpg_nino_mtavruli_bold.ttf")
    src: url('fonts/bpg_nino_mtavruli_bold.eot');
    src: url('fonts/bpg_nino_mtavruli_bold.eot') format('embedded-opentype'),
         url('fonts/bpg_nino_mtavruli_bold.woff2') format('woff2'),
         url('fonts/bpg_nino_mtavruli_bold.woff') format('woff'),
         url('fonts/bpg_nino_mtavruli_bold.ttf') format('truetype'),
         url('fonts/bpg_nino_mtavruli_bold.svg#bpg_nino_mtavruli_bold') format('svg');
}

@font-face {
    font-family: 'BPG Ingiri Arial';
    src: url('../fonts/bpg-ingiri-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-ingiri-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-ingiri-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-ingiri-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-ingiri-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-ingiri-arial-webfont.svg#bpg_ingiri_arialregular') format('svg'); /* Legacy iOS */
}