.display-inline-block{
    display: inline-block;
}
body.yellow{
    background-color: yellow;
}
.wrapper, .container{
    margin: 30px auto auto 30px;
}

    margi

.red{
    color: red;
}
.text-container{
    margin: 0px auto;
    width: 500px;
    text-align: center;
}
.text-container .title{
    color: blue;
    font-size: 20px;
    font-family: "ninoBold";
    
}
.contact-li{
    font-family: "ingiroArial";
    color: black;
    margin-top: 10px;
}
.navigation-li{
    display: inline-block;
}
.contact-li span{
    color: #808080;
}

.image{
    margin-top: 30px;
    width: 300px;
}
.title{
   
    color: white;
    font-size: 30px;
}
.par{
    margin-top: 30px;
    
}
.logo{
   
width: 100px;
}
.navigation{

margin-top: 22.5px;
}
.navigation-a{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    display: inline-block;
    text-decoration: none;
    font-family: "ninobold";
    color: #000066;

}
.navigation-a.active{
    color: red;
}
.banner-section{
    margin-top: 22.5px;
    
}
.banner-img{
    width: 1170px;
}
.divider{
    height: 30px;
    width: 3px;
    background-color: blue;
    margin: auto 30px;
}
.social-img{
    height: 30px;
}
.footer{
    margin-top: 30px;
}
